{% extends "base.html" %}
{% block title %}Short URL statistics{% endblock %}
{% block js %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.css"/>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.0/datatables.min.js"></script>
  <script type="text/javascript" class="init">
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
{% endblock %}
{% block content %}
<div class="card w-100 mt-4">
  <h1 class="card-header text-center">{% block header %}URL stats{% endblock %}</h1>
  <div class="card-body">
  <table id="example" class="display Datatable" style="width:100%">
		<thead>
      <tr>
        {% for h in headers %}
        <th>{{ h }}</th>
        {% endfor %}
      </tr>
		</thead>
		<tbody>
      {% for url in urls %}
      <tr>
        <td>{{url.key}}</td>
        <td>{{url.url}}</td>
				<td>{{url.clicks}}</td>
				<td>{{url.created}}</td>
      </tr>
      {% endfor %}
		</tbody>
	</table>
  </div>
</div>
{% endblock %}